[Desktop Entry]
Type=Application
Name=Portty
Comment=Terminal emulator
Exec=portty
Icon=portty
Terminal=false
StartupWMClass=portty
Categories=System;TerminalEmulator;
